*,
*:before,
*:after {
  font-family: 'IM Fell English', serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background: ghostwhite;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #909090;
  box-shadow: 0 2.5px 5px #000000;
  width: 100%;  
}

button {
  background: white;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2.5px 5px #000000;
  font-size: 2.5vh;
  white-space: nowrap;
  margin: 0.5%;
  padding: 0.5%;
}

button:hover {
  display: flex;
  transform: scale(1.1);
  transition: 0.75s;
  background: black;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2.5px 5px #FFFFFF;
}

button:active{
  transform: scale(1.0);
  transition: 0.1s;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

label,
input {
  width: 50%;
  font-size: 2.5vh;
}

label {
  display: flex;
  justify-content: space-between;
}

input {
  margin-bottom: 1%;
}

.app-title {
  font-size: 5vh;
  text-align: center;
  color: #000000;
  text-shadow: 0 2.5px 5px #FFFFFF;
  margin: 0.25%;
  padding:0.25%;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5%;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  object-fit: contain;
  height: 75vh;
  max-width: fit-content;
  margin: 2.5% auto;
  position: relative;
}

.price-tag {
  position: absolute;
  top: 1%;
  width: 20%;
  right: 2%;
  transform: rotate(15deg);
}

.cover-image,
.mini-image {
  border: 1px solid #000000;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.cover-text,
.mini-text {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
  width: 100%;
}

.cover-title,
.tag-desc {
  font-family: 'Playball', cursive;
  position: relative;
  text-overflow: wrap;
  text-align: center;
  color: #FFFFFF;
  width: 98%;
  margin: 0.25%;
  padding: 0.25%;
}

.cover-title {
  font-size: 5vh;
  font-weight: normal;
  text-shadow: #000000;
}

.tag-desc {
  color: #FFFFFF;
  font-size: 3vh;
  white-space: nowrap;
}

.saved-view {
  padding: 1%;
}

.saved-covers-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 75vh;
  position: relative;
}

.no-saved-message {
  text-align: center;
  font-size: 3vh;
}

.mini-cover {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  object-fit: contain;
  height: 35vh;
  max-width: fit-content;
  margin: 2.5% auto;
  position: relative;
}

.mini-title,
.mini-desc {
  font-family: 'Playball', cursive;
  text-align: center;
  color: #FFFFFF;
  width: 98%;
  margin: 0.25%;
  padding: 0.25%;
}

.mini-title {
  font-size: 2.75vh;
}

.mini-desc {
  font-size: 1.5vh;
  white-space: nowrap;
}

.my-cover,
.mini-image {
  aspect-ratio: 2/3;
  overflow: hidden;
  object-fit: cover;
}

.message {
  margin: 0;
  padding: 0;
  color: #ff0000
}

.hidden {
  display: none;
}